.landing-page {
  height: 100vh;
  z-index: -1;
  background-color: #000000;
}
.particles {
  z-index: -2;
  height: 100vh;
}
.header {
  z-index: 1;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1em;
  position: absolute;
  top: 0;
  width: 100vw;
  padding-top: 35%;
  margin: auto auto;
}
.what-i-do {
  margin: 0 5%;
}
.header h2, .header h1 {
  margin: 0;
}
.arrow {
  color: white;
  
}
@keyframes flickerAnimation { /* flame pulses */
  0%   { opacity:1; }
  50%  { opacity:0; }
  100% { opacity:1; }
}
.arrow-div {
  position: absolute;
  top: 90%;
  left: 0;
  right: 0;
  opacity:1;  
  animation: flickerAnimation 10s infinite;
}
.arrow-div:hover {
  cursor: pointer;
}
/* If the viewport width is greater than 425px*/
@media  (min-width: 425px) {
  .header {
    font-size: 1.5em;
  }
}
/* If the viewport width is greater than 600px*/
@media  (min-width: 600px) {
  .header {
    font-size: 2em;
    padding-top: 15%;
  }
}
/* If the viewport width is greater than 900px*/
@media (min-width : 900px) {
  .header {
    font-size: 2.5em;
    padding-top: 10%;
  }

}

/* If the viewport width is greater than 1200px*/
@media (min-width : 1200px) {
  .landing-page {
    width: 100vw;
    background-size:  cover;
    background-position: 0;
  }
  .header {
    top: 0%;
    font-size: 2.7em;
  }
}