.tech-stack {
  height: 100%;
  background-attachment: fixed;
  border-radius: 5px;
  color: white;
  padding: 1rem;
}
.tech-stack-header {
  font-size: 3em;
  margin: 25px;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
}
.javscript-icon-container {
  height: 45px;
}
.javascript {
  color: yellow;
  height: 100%;
}
.node-icon {
  background-color: white;
}
.github-icon {
  color: rgb(80, 52, 52);
}
.container-1 {
  border-radius: 5px;
  padding: 2rem;
  margin: 0 5% 1% 5%;
  background: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
}
.container-1 > div {
  margin: 5px;
}
.container-1 h3 {
  color: black;
  text-decoration: none;
}
.container-1 a {
  text-decoration: none;
}