.tech-list-container {
  margin-top: 25px;
  padding-bottom: 10px;
  background-color: rgb(248, 251, 255);
  border: 1px solid #0b608e;
  border-radius: 4px;
  -webkit-box-shadow: 1px 3px 10px -4px rgba(34, 40, 49, 0.15);
  -moz-box-shadow: 1px 3px 10px -4px rgba(34, 40, 49, 0.15);
  box-shadow: 1px 3px 10px -4px rgba(34, 40, 49, 0.15);
}
.tech-list {
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%;
  color: #222831;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tech {
  font-size: 1.3em;
  padding-right: 10px;
}
.tech-h2 {
  color: #222831;
  margin-bottom: 0;
}
