.top-nav {
  z-index: 3;
  position: fixed;
  height: 55px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.404);
}
.persistant-container {
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 5px;
}