/* font-family: 'Anonymous Pro', monospace; */
/* font-family: 'Josefin Slab', serif; */
/* font-family: 'Lekton', sans-serif; */
/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'Roboto Slab', serif; */
/* font-family: 'Saira', sans-serif; */
/* font-family: 'Source Code Pro', monospace; */
/* font-family: 'Space Mono', monospace;  */
.about-me {

  margin: 0 3% 5%;
  border-bottom: 2px solid white;
  color: #B6F9C9;
}
.about-me-header {
  font-size: 3em;
  padding: 0;
  margin: 5% 0 5% 0;
}
.about-me-list {
  list-style: none;
  font-size: 1.3em;
  text-align: center;
  display: inline-block;
  padding: 0;
  margin: 5% 3%;
}
.about-me-list li {
  margin: 0 0 10px 0;
  line-height: 1.2;
  font-family: 'Anonymous Pro', monospace;
}
.profile-image {
  width: 50%;
  border-radius: 4%;
  border: 2px solid white;
  -webkit-box-shadow: 0px 0px 19px 4px rgba(55,84,158,1);
  -moz-box-shadow: 0px 0px 19px 4px rgba(55,84,158,1);
  box-shadow: 0px 0px 19px 4px rgba(55,84,158,1);
}
/* If the screen size is greater than 425px and less than 600px wide */
@media  only screen and (min-device-width : 425px) and (max-device-width : 599px) {
  
}
/* If the screen size is greater than 600px and less than 849px wide */
@media  only screen and (min-device-width : 600px) and (max-device-width : 899px) {

}
/* If the screen size is greater than 900px and less than 1199px wide */
@media  only screen and (min-device-width : 900px) and (max-device-width : 1199px) {
 
}
/* If the screen size is greater than 1200px wide */
@media  only screen and (min-device-width : 1200px) {
  
}