.about-me {
  /* margin: 0 3% 5%; */
  color: #222831;
  background: url('../images/architectural-design-architecture-blue-sky-.jpg') #222831 no-repeat;
  background-size: cover;
  background-position: -465px 0px;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
.about-me-content {
  background-color: white;
  display: inline-block;
  margin: 20px 15px 15px 15px;
  padding: 10px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(34,40,49,1);
-moz-box-shadow: 0px 0px 0px 2px rgba(34,40,49,1);
box-shadow: 0px 0px 0px 2px rgba(34,40,49,1);
}
.about-me-header {
  font-size: 3em;
  padding: 20px 20px 10px 20px;
  margin: 0;
  background: white;
}
.about-me-list {
  list-style: none;
  font-size: 1.3em;
  text-align: center;
  display: inline-block;
  padding: 20px;
  margin: 0 3% 5% 3%;
  border-radius: 4px;
  -webkit-box-shadow: inset 0px 0px 0px 2px rgba(34,40,49,1);
-moz-box-shadow: inset 0px 0px 0px 2px rgba(34,40,49,1);
box-shadow: inset 0px 0px 0px 2px rgba(34,40,49,1);
}
.about-me-list li {
  margin: 0 0 10px 0;
  line-height: 1.2;
  font-family: 'Anonymous Pro', monospace;
}
.profile-image {
  width: 40%;
  max-width: 350px;
  border-radius: 4%;
  border: 2px solid #222831;
}
/* If the viewport width is greater than 425px*/
@media  (min-width: 411px) {
  .about-me {
    background-position: -425px 0px;
  }
}
/* If the viewport width is greater than 600px*/
@media  (min-width: 600px) {
  .about-me {
    background-position: -530px 0px;
  }
}
@media  (min-width: 1000px) {
  .about-me {
    background-position: 0px 0px;
  }
}