.landing-page {
  height: 100vh;
  z-index: -1;
  background-color: black;
}
.earth-landing-image {
  max-height:100%;
  width: auto; 
  position: absolute;
}
.header {
  color: aliceblue;
  text-shadow: 2px 2px 4px #6E8898;
  font-size: 1em;
  position: absolute;
  top: 25%;
  left: 0;
  right: 0;
  margin: auto 3%;
}
/* If the screen size is greater than 425px and less than 600px wide */
@media  only screen and (min-device-width : 425px) and (max-device-width : 599px) {
  .header {
    font-size: 1.5em;
  }
}
/* If the screen size is greater than 600px and less than 849px wide */
@media  only screen and (min-device-width : 600px) and (max-device-width : 899px) {
  .header {
    font-size: 2em;
  }
}
/* If the screen size is greater than 900px and less than 1199px wide */
@media  only screen and (min-device-width : 900px) and (max-device-width : 1199px) {
  .header {
    font-size: 2.5em;
  }
}
/* If the screen size is greater than 1200px wide */
@media  only screen and (min-device-width : 1200px) {
  .header {
    font-size: 3em;
  }
}