.tech-stack {
  height: 100%;
  border: 2px solid #DDA77B;
  margin:5%;
}
.tech-stack-header {
  font-size: 3em;
  margin: 25px;
}
.javscript-icon-container {
  height: 45px;
}
.javascript {
  color: yellow;
  height: 100%;
}
.node-icon {
  background-color: white;
}
.container-1 {
  border: 1px solid aquamarine;
  padding: 5px;
  margin: 0 10% 10% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container-1 > div {
  /* border: 1px solid white; */
  /* padding: 5px; */
  margin: 5px;
}