.persistant-container {
  position: fixed;
  right: 2%;
  top: 2%;
  display: inline-block;
  background-color: transparent;
}
.fa-print:before {
  background: black;
  padding: 5px;
  border-radius: 7px;
  color: white;
}
.fa-print:after {
  color: blue;
}