.persistant-container {
  /* position: fixed;
  right: 2%; */
  /* top: 2%; */
  display: inline-block;
  background-color: rgb(226, 226, 226);
  border: 1px solid #222831;
  margin: 2px 0 5px 0;
  padding: 5px;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.fa-print:before {
  background: white;
  padding: 3px;
  border: 1px solid #222831;
  border-radius: 7px;
  color: #222831;
}
.fa-print:after {
  color: blue;
}