.project-3 {
  border: 1px solid white;
  margin: 1%;
  padding: 2%;
}
.project-3-container {
  border: 2px solid white;
  margin: 5%;
}
#project-3-iframe {
  padding: 0;
  margin: 0;
}
.project-3-link, .project-3-github-link {
  font-family: 'Anonymous Pro', monospace;
  text-decoration: none;
  color: white;
  margin: 2%;
}
.project-3-link {
  font-size: 2em;
  color: #9EE493;
}