.tech-used {
  /* display: block; */
  color: black;
  /* position: relative; */
  margin: 0 auto;
  height: auto;
  width: 100%;
  border: 1px solid rgba(124,160,252,1);
  /* text-align: center; */
  max-width: 305px;
  /* justify-content: space-evenly; */
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
}
.tech-used > li {
  /* float: left; */
  /* padding: .3rem; */
  font-size: 1.2em;
  padding: 1%;
  margin: 0;
  font-weight: 700;
  /* text-align: center; */
  /* display: inline-block; */
  /* justify-content: space-evenly; */
}