.tech-list {
  margin-top: 0;
  margin-left: 5%;
  margin-right: 5%;
  color: #222831;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.tech {
  font-size: 1.3em;
  padding-right: 10px;
}
.tech-h2 {
  color: #222831;
  margin-bottom: 0;
}