.project-1 {
  border: 1px solid white;
  margin: 1%;
  padding: 2%;
}
.project-1-header {
  font-size: 2em;
  color: #86BBD8;
}
.project-1-description {
  font-family: 'Anonymous Pro', monospace;
  display: inline-block;
  max-width: 450px;
}
.project-1-container {
  margin: 5%;
}
#beachtides {
  padding: 0;
  margin: 0;
}
.beachtides-link, .beachtides-github-link {
  font-family: 'Anonymous Pro', monospace;
  text-decoration: none;
  color: white;
  margin: 2%;
}
.beachtides-link {
  font-size: 2em;
  color: #9EE493;
}