.projects {
  margin-bottom: 10px;
  background-attachment: fixed;
  background-color: #222831;
}
.projects-header {
  color: white;
  font-size: 3em;
  padding: 1rem;
  margin: 2% 5% 0;
}
.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-github-link {
  color: #222831;
}