.project-2 {

  background: white;
  margin: 1%;
  padding: 2%;
  -webkit-box-shadow: inset 0px 0px 8px 4px rgba(124,160,252,1);
  -moz-box-shadow: inset 0px 0px 8px 4px rgba(124,160,252,1);
  box-shadow: inset 0px 0px 8px 4px rgba(124,160,252,1);
}
.project-2-header {
  font-size: 2.8em;
  border-bottom: 2px solid rgba(124,160,252,1);
  color: rgba(124,160,252,1);
  margin: 2% 0;
}
.project-2-description {
  margin: 2% 5%;
  font-family: 'Anonymous Pro', monospace;
  display: inline-block;
  max-width: 450px;
  color: black;
  font-size: 1.3em;
}
.project-2-container {
  margin: 1% 5%;
  border: 3px solid rgba(124,160,252,1);
  -webkit-box-shadow: inset 0px 0px 8px 4px rgba(124,160,252,1);
  -moz-box-shadow: inset 0px 0px 8px 4px rgba(124,160,252,1);
  box-shadow: inset 0px 0px 8px 4px rgba(124,160,252,1);
}
#project-2-iframe {
  padding: 0;
  margin: 0;
}
.project-2-link, .project-2-github-link {
  font-family: 'Anonymous Pro', monospace;
  text-decoration: none;
  color: white;
  margin: 2%;
}
.project-2-link {
  font-size: 2em;
  color: #9EE493;
}