/* font-family: 'Anonymous Pro', monospace; */

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Anonymous Pro', monospace;
  background-color: #222831;
  color: white;
  box-sizing: border-box;
}
